In [12]:
import pandas as pd 
df = pd.read_csv('../dataset/Automobile_data.csv')

index               61
company             61
body-style          61
wheel-base          61
length              61
engine-type         61
num-of-cylinders    61
horsepower          61
average-mileage     61
price               58
dtype: int64

In [ ]:
##row column

In [13]:
df.shape #row and column(row,column)

(61, 10)

In [15]:
df.head(10) #fist 10 row

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0

In [16]:
df.tail(10) #last 10 row

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
55,80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [17]:
## access specific row
df[2:6] #show row number 2 to 5

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0

In [18]:
## get column information

In [19]:
df.columns

Index(['index', 'company', 'body-style', 'wheel-base', 'length', 'engine-type',
       'num-of-cylinders', 'horsepower', 'average-mileage', 'price'],
      dtype='object')

In [20]:
## individual column
df.length #or df['length']

0     168.8
1     168.8
2     171.2
3     176.6
4     176.6
      ...
56    171.7
57    171.7
58    171.7
59    188.8
60    188.8
Name: length, Length: 61, dtype: float64

In [22]:
type(df.length) # column is a pandas series

pandas.core.series.Series

In [25]:
## select specific column
df[['index', 'company', 'body-style', 'wheel-base', 'length',]]

    index      company   body-style  wheel-base  length
0       0  alfa-romero  convertible        88.6   168.8
1       1  alfa-romero  convertible        88.6   168.8
2       2  alfa-romero    hatchback        94.5   171.2
3       3         audi        sedan        99.8   176.6
4       4         audi        sedan        99.4   176.6
..    ...          ...          ...         ...     ...
56     81   volkswagen        sedan        97.3   171.7
57     82   volkswagen        sedan        97.3   171.7
58     86   volkswagen        sedan        97.3   171.7
59     87        volvo        sedan       104.3   188.8
60     88        volvo        wagon       104.3   188.8

[61 rows x 5 columns]